# Ignore all files ending with .log
*.log

# Ignore the 'bin' and 'obj' directories commonly found in .NET projects
/home/runner/work/toolchain/toolchain/out/arch
/home/runner/work/toolchain/toolchain/out/block
/home/runner/work/toolchain/toolchain/out/certs
/home/runner/work/toolchain/toolchain/out/crypto
/home/runner/work/toolchain/toolchain/out/drivers
/home/runner/work/toolchain/toolchain/out/firmware
/home/runner/work/toolchain/toolchain/out/fs
/home/runner/work/toolchain/toolchain/out/include
/home/runner/work/toolchain/toolchain/out/ipc
/home/runner/work/toolchain/toolchain/out/lib
/home/runner/work/toolchain/toolchain/out/scripts
/home/runner/work/toolchain/toolchain/out/source
/home/runner/work/toolchain/toolchain/out/Makefile
/home/runner/work/toolchain/toolchain/out/.config
